# .env.sample - Sample Environment Variables for Client (Vite)
VITE_CLIENT_ID="YOUR_CLIENT_ID_ON_SPOTIFY"
VITE_CLIENT_SECRET="YOUR_CLIENT_SECRET"
VITE_REDIRECT_URI="YOUR_REDIRECT_URI"
# Server API URL (call it in React with import.meta.env.VITE_API_URL)
VITE_API_URL=http://localhost:3310
VITE_API_SPOTIFY="YOU_API_SPOTIFY"

# Other Environment Variables (if needed)
# VITE_OTHER_VARIABLE=value
