footer {
  background-color: var(--bgColor);
  color: var(--textColorWhite);
  font-family: var(--textFont);
  text-align: center;
  padding: 1rem;
}

footer a {
  color: var(--textColorWhite);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.logo {
  font-family: var(--titleFont);
  color: var(--titleColor);
  text-transform: uppercase;
}
